@font-face {
	font-family: 'Euclid Circular B';
	src: url(fonts/euclid-circular-b-cufonfonts/Euclid-Circular-B-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Circular B';
	src: url(fonts/euclid-circular-b-cubonfonts/Euclid-Circular-B-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Circular B';
	src: url(fonts/euclid-circular-b-cubonfonts/Euclid-Circular-B-SemiBold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Antipasto Pro';
	src: url(fonts/antipasto-pro-cufonfonts-webfont/AntipastoPro-Hairline_trial.woff) format("woff");
	font-weight: 100;
	font-style: normal;
}
/*defoult formatting*/
body {
	background: #f9fbf7;
	font-family: 'Euclid Circular B';
	margin: 0;
	color: #000000
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;

	color: #3F322F;
}
h2 {
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
}
h3 {
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
}
h4 {
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
}
ul {
	margin: 0;
	padding: 0;
}
p {
	padding: 0;
	margin: 0;
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22.82px;
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*images and classes*/
#logo {
	position: relative;
	top: -1px;
	height: 32px;
	width: 152px;
	background: url(images/logo.png) ne-repeat;
	background-size: cover;

	flex: none;
	order: 0;
	flex-grow: 0;
}
#intro_bg_image {
	position: absolute;
	width: 100%;
	height: 1080px;
	background: url(images/background_landing_page.png) center no-repeat;
	background-size: cover;
	z-index: -1;
}
.box {
	background: #F4F4F1;
	border: 10px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
}

/* Nav */
header {
	margin-top: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	width: 100%;
	z-index: 10;
}
#navigation_panel{
	position: relative;
	width: 1180px;
	height: 30px;
	left: -25px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 9px 35px;

	background: #FFFFFF;
	border-radius: 25px;
	align-self: stretch;
}
#nav {
	display: flex;
	flex-direction: row;
	align-items: center;

	flex: none;
	order: 1;
}
.button_nav	{
	margin-left: 70px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration: none;

	color: #3F322F;
	transition: color .2s linear;
}
.button_nav:hover{
	color: #C98952
}
/* body */
#handboba {
	position: absolute;
	top: 1853px;
	width: 100%;
	height: 1072px;
	background: url(images/handboba.png) center no-repeat;
	background-size: cover;

	z-index: -1;
}

main	{
	position: absolute;
	top: 800px;
	left: 0;
	right: 0;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
/*body_beginning*/
#body_beginning{
	position: relative;
	width: 1180px;
	height: 30px;

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;

	flex: none;
	order: 0;
	align-self: flex-start;
	flex-grow: 0;
	margin-bottom: 20px;
}
#body_title {
	position: relative;
	height: 30px;
	display: flex;

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0 10px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}
/*menu panel */
#menu_panel {
	position: relative;
	height: 860px;
	margin-bottom: 20px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#menu_back{
	position: absolute;
	width: 100%;
	height: 730px;
	left: 0px;
	top: 130px;

	background: #F4F4F1;
	border: 10px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
	z-index: 0;
}
/* cafe details*/
#cafe_detials {
	flex: none;
	order: 0;
	flex-grow: 0;

	position: absolute;
	width: 100%;
	max-width: 1200px;
	height: 110px;
	left: 0;
	top: 0;
	z-index: 1;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0;
	margin-bottom: 20px;
}
#menu_text {
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-right: 20px;

	position: relative;
	width: 350px;
	height: 110px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}
#time {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 127px 20px;

	height: 110px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
}
#open_close {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0;

	flex: none;
	order: 0;
	flex-grow: 0;
}
#open{
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-left: 10px;
	color: #72F38E;
}
#closed{
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-left: 10px;
	color: #72F38E;
}
#open_hours {
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	display: flex;
	align-items: center;

	flex: none;
	order: 1;
	flex-grow: 0;
}
/* Menu */
#menu {
	position: relative;
	width: 1100px;
	left: 50px;
	height: 780px;
	top: 80px;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	flex: none;
	order: 1;
	flex-grow: 0;
}
/* product_categories */
#product_categories {
	position: relative;
	height: 100px;
	width:100%;
	max-width: 1100px;
	overflow-x: scroll;

	display: flex;
	flex-direction: row;
	align-items: flex-start;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	margin-bottom: 20px;
}
#product_categories::-webkit-scrollbar {
    display: none;
}
#product_categories {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.button_menu {
	position: relative;
	height: 100px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;

	display: flex;
	align-items: center;
	text-decoration: none;
	text-align: center;
	padding: 0 25px;

	background: #F9FBF7;
	border: 10px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 50px;

	flex: none;
	flex-grow: 0;
	margin-right: 20px;
}
/* view_menu */
#view_menu {
	position: relative;
	width: 100%;
	height: 520px;
	overflow-x: scroll;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;

	padding: 15px 0;
	margin-bottom: 20px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}
#view_menu::-webkit-scrollbar {
    display: none;
}
#view_menu {
	-ms-overflow-style: none;
	 scrollbar-width: none;
}
.item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 24px;

	position: relative;
	width: 312px;
	height: 478px;

	background: #FFFFFF;
	border-radius: 20px;

	margin-right: 50px;
}
/* item details */
.item_details {
	flex: none;
	flex-grow: 0;
	margin-bottom: 16px;
}
.name_of_item {
	position: relative;
	width: 312px;
	height: 30px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30.43px;
	align-items: center;
	text-align: center;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	margin-bottom: 8px;
}
.description_of_item {
	position: relative;
	margin: 0;
	width: 312px;
	height: 116px;

	flex: none;
	order: 1;
	align-self: stretch;
}
.item_image_price {
	position: relative;
	width: 312px;
	height: 306px;

	display: flex;
	flex-direction: row;
	align-items: flex-start;

	flex:none;
	flex-grow: 0;

	flex: none;
	order: 1;
	flex-grow: 1;
}
/* prices */
.item_price {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	position: relative;
	width: 150px;
	height: 285px;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin-right: 5px;
}
.price_details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: relative;
	width: 150px;
}
.text {
	display: flex;
	align-items: center;

	position: relative;
	width: 100%;
	height: 23px;

	flex: none;
	order: 0;
	align-items: stretch;
	flex-grow: 1;
	margin-bottom: 9px;
}
.price {
	position: relative;
	height: 36px;
	margin-left: 10px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 61px;
	display: flex;
	align-items: center;

	color: #000000;

	flex: none;
	order: 1;
	flex-grow: 1;
	align-self: stretch;
}
#tenge_image {
	flex: none;
	order: 0;
	margin-right: 10px;
}
#plus {
	position: relative;

	flex: none;
	order: 0;
	margin-right: 10px;
}
/* item preview */
.item_image {
	flex: none;
	order: 1;
	flex-grow: 0;
}
/* delivery */
#delivery {
	position: relative;
	width: 100%;
	height: 70px;
	margin-bottom: 20px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;

	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
}
#wolt {
	position:relative;
	padding: 5px 13px;
	display: flex;
	box-sizing: border-box;
	background: #4CB2E1;
	border-radius: 10px;
	margin-left: 10px;
}

/*bonuses_panel*/
#bonuses_panel{
	width: 100%;
	max-width: 1200px;
	height: 300px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;

	margin-bottom: 20px;
	order: 2;
};
.bonus_text {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	position: relative;

	flex: none;
	order: 0;
	flex-grow: 0;
	align-self: stretch;
}
.bonus_name {
	position: relative;
	width: 100%;
	max-width: 500px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;

	color: #C98952;

	flex: none;
	order: 0;
	flex-grow: 1;
	margin-bottom: 10px;
}
.bonus_description {
	position: relative;
	width: 100%;
	max-width: 500px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;

	color: #3F322F;

	flex: none;
	order: 1;
	flex-grow: 1;
}
#bonus_card {
	flex: none;
	order: 1;
	flex-grow: 0;
}

/*abouts us panel*/
#about_us_panel {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: 660px;
	order: 3;
	margin-bottom: 20px;
}
#about_us {
	position: relative;
	width: 385px	;
	height: 82px;
	margin: auto;

	display: flex;
	justify-content: center;
	align-items: center;
}
#slogan {
	position: absolute;
	width: 691px;
	height: 286px;
	left: calc(50% - 691px/2 + 152.5px);
	top: calc(50% - 286px/2 - 3px);

	font-family: Antipasto Pro;
	font-style: normal;
	font-weight: 100;
	font-size: 144px;
	line-height: 123px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;

	color: #C98952;
}
#about_us_text {
	position: absolute;
	width: 897px;
	height: 115px;
	left: 203px;
	top: 505px;
	padding: 20px 50px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;

	color: #3F322F;
	background: #F4F4F1;
	border-radius: 20px;
}

/* contacts panel */
#contacts_panel {
	position: relative;
	width: 1200px;
	height: 470px;

	margin-bottom: 20px;
	order: 4;
}
#contacts_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;

	position: relative;
	width: 300px;
	height: 240px;
	left: 100px;
	top: 120px;
	z-index: 1;
}
#contacts_text {
	position: relative;
	width: 260px;
	height: 30px;
	font-size: 24px;
	line-height: 30px;
	display: flex;
	align-items: center;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
#contact_deatials {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: relative;
	width: 260px;
	height: 90px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}
#location {
	display: flex;
	flex-direction: row;
	align-items: center;

	position: relative;
	width: 260px;
	height: 50px;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin-bottom: 10px;
}
#address {
	position: relative;
	width: 210px;
	height: 50px;

	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
}
.links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;

	position: relative;
	height: 30px;


	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}
.icon_link{
	height: 30px;
	width: 30px;
}
.map {
	position: absolute;
	width: 915px;
	height: 470px;
	left: 285px;
	top: 0px;
	z-index: 0;
	overflow: scroll;

	border-radius: 20px;
}
.map::-webkit-scrollbar {
    display: none;
}
.map {
	-ms-overflow-style: none;
	 scrollbar-width: none;
}

/* footer panel*/
footer {
	position: absolute;
	width: 100%;
	top: 3240px;

	display: flex;
	flex-direction: column;
	align-items: center;

	color: #fff;
	background: #3F322F;
}
#main_footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 41px;

	position: relative;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}
#logo_follow {
	position: relative;
	width: 50%;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}
#logo_footer {
	position: relative;
	width: 152px;
	height: 32px;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
}
#follow_us {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;

	position: absolute;
	height: 35px;
	left: 59px;
	top: 54px;
}
.footer_links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;

	position: relative;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-left: 20px;
}
.footer_link {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 5px;

	position: relative;
	width: 25px;
	height: 25px;

	background: #FFFFFF;
	border-radius: 17.5px;
}
.footer_icon_link{
	height: 25px;
	width: 25px;
}
#info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px;

	position: relative;
	width: 50%;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
}
.options_title {
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-bottom: 10px;
}
.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 10px;

	position: relative;

	flex: none;
	order: 1;
	flex-grow: 0;
}
.option{
	display: flex;
	align-items: center;
	text-align: left;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin-bottom: 10px;
}
#line1 {
	flex: none;
	align-self: stretch;

	margin: 18px 0;
	height: : 4px;
	color: #F9FBF7;
}
#copyright {
	text-align: center;

	flex: none;
	order: 3;
	flex-grow: 0;
	margin-bottom: 10px;
}
