body {
	background: #f9fbf7;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: #000000
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;

	display: flex;
	align-items: center;

	color: #3F322F;
}
ul {
	margin: 0;
	padding: 0;
}

.logo {
	position: relative;
	top: -1px;
	height: 32px;
	width: 152px;
	background: url(images/logo.png);

	flex: none;
	order: 0;
	flex-grow: 0;
}
#intro_bg_image {
	position: absolute;
	width: 100%;
	height: 1080px;
	background: url(images/background_landing_page.png) center no-repeat;
	background-size: cover;
	z-index: 0;
}
.box {
	background: #F4F4F1;
	border: 10px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
}

/* Nav */
.nav_bar{
	margin-top: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	width: 100%;
	z-index: 10;
}
.navigation_panel{
	position: relative;
	width: 1180px;
	height: 30px;
	left: -25px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 9px 35px;

	background: #FFFFFF;
	border-radius: 25px;
	align-self: stretch;
}
.nav {
	display: flex;
	flex-direction: row;
	align-items: center;

	flex: none;
	order: 1;
}
.button_nav	{
	margin-left: 70px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration: none;

	color: #3F322F;
	transition: color .2s linear;
}
.button_nav:hover{
	color: #C98952
}

/* body */
main	{
	position: relative;
	top: 800px;
	left: 0;
	right: 0;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

/*body_beginning*/
.body_beginning{
	position: relative;
	width: 1180px;
	height: 30px;

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;

	flex: none;
	order: 0;
	align-self: flex-start;
	flex-grow: 0;
	margin-bottom: 20px;
}
.body_title {
	position: relative;
	height: 30px;

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0 10px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}

/*menu panel */
.menu_panel {
	position: relative;
	height: 860px;
	margin-bottom: 20px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.menu_back{
	position: absolute;
	width: 100%;
	height: 730px;
	left: 0px;
	top: 130px;

	background: #F4F4F1;
	border: 10px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
	z-index: 0;
}

/* cafe details*/
.cafe_detials {
	flex: none;
	order: 0;
	flex-grow: 0;

	position: absolute;
	width: 100%;
	max-width: 1200px;
	height: 110px;
	left: 0;
	top: 0;
	z-index: 1;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0;
	margin-bottom: 20px;
}
.menu_text {
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-right: 20px;

	position: relative;
	width: 350px;
	height: 110px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}
.time {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 127px 20px;

	height: 110px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
}
.open_close {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0;

	flex: none;
	order: 0;
	flex-grow: 0;
}
#open{
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-left: 10px;
	color: #72F38E;
}
#closed{
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-left: 10px;
	color: #72F38E;
}
.open_hours {
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	display: flex;
	align-items: center;

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0 10px;
}

/* Menu */
.menu {
	position: relative;
	width: 1100px;
	left: 50px;
	height: 780px;
	top: 80px;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	flex: none;
	order: 1;
	flex-grow: 0;
}

/* product_categories */
.product_categories {
	position: relative;
	height: 100px;
	width:100%;
	max-width: 1100px;
	overflow-x: scroll;

	display: flex;
	flex-direction: row;
	align-items: flex-start;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	margin-bottom: 20px;
}
.product_categories::-webkit-scrollbar {
    display: none;
}
.product_categories {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button_menu {
	position: relative;
	height: 100px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;

	display: flex;
	align-items: center;
	text-decoration: none;
	text-align: center;
	padding: 0 25px;

	background: #F9FBF7;
	border: 10px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 50px;

	flex: none;
	flex-grow: 0;
	margin-right: 20px;
}

/* view_menu */
.view_menu {
	position: relative;
	width: 100%;
	height: 520px;
	overflow-x: scroll;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;

	padding: 15px 0;
	margin-bottom: 20px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;

	-ms-overflow-style: none;
	 scrollbar-width: none;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 24px;

	position: relative;
	width: 312px;
	height: 478px;

	background: #FFFFFF;
	border-radius: 20px;

	margin-right: 80px;
}
/* item details */
.item_details {
	flex: none;
	flex-grow: 0;
	margin-bottom: 16px;
}
.name_of_item {
	position: relative;
	width: 312px;
	height: 30px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30.43px;
	align-items: center;
	text-align: center;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	margin-bottom: 8px;
}
.description_of_item {
	position: relative;
	margin: 0;
	width: 312px;
	height: 116px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22.82px;

	flex: none;
	order: 1;
	align-self: stretch;
}

.item_image_price {
	position: relative;
	width: 312px;
	height: 306px;

	display: flex;
	flex-direction: row;
	align-items: flex-start;

	flex:none;
	flex-grow: 0;

	flex: none;
	order: 1;
	flex-grow: 1;
}
/* prices */
.item_price {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	position: relative;
	width: 150px;
	height: 285px;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin-right: 5px;
}
.price_details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: relative;
	width: 150px;
}
.text {
	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	display: flex;
	align-items: center;

	position: relative;
	width: 100%;
	height: 23px;

	flex: none;
	order: 0;
	align-items: stretch;
	flex-grow: 1;
	margin-bottom: 10px;
}
.price {
	position: relative;
	height: 36px;
	margin-left: 10px;

	font-family: Euclid Circular B;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 61px;
	display: flex;
	align-items: center;

	color: #000000;

	flex: none;
	order: 1;
	flex-grow: 1;
	align-self: stretch;
}
.tenge_image {
	flex: none;
	order: 0;
	margin-right: 10px;
}
.plus {
	position: relative;

	flex: none;
	order: 0;
	margin-right: 10px;
}
/* item preview */
.item_image {
	flex: none;
	order: 1;
	flex-grow: 0;
}

.view_menu::-webkit-scrollbar {
    display: none;
}

/* delivery */
.delivery {
	position: relative;
	width: 100%;
	height: 70px;
	margin-bottom: 20px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;

	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
}
.wolt {
	position:relative;
	left: 0px;
	top: 0px;
	padding: 5px 13px;
	display: flex;
	box-sizing: border-box;
	background: #4CB2E1;
	border-radius: 10px;
	margin-left: 10px;
}

/*bonuses_panel*/
.bonuses_panel{
	position: relative;
	width: 1200px;
	height: 300px;

	margin-bottom: 20px;
	order: 2;
};

.bonus_card {
	position: absolute;
	width: 376.95px;
	height: 210px;
	background: url(images/bonus_card.png);
	border-radius: 20px;
	transform: rotate(13.578641729682515deg);
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 20px;
}
/*abouts us panel*/
.about_us_panel {
	position: relative;
	width: 1200px;
	height: 760px;
	margin-bottom: 20px;
	order: 3;
}
/* contacts panel */
.contacts_panel {
	position: relative;
	width: 1200px;
	height: 760px;

	margin-bottom: 20px;
	order: 4;
}
/* footer panel*/

footer {
	position: absolute;
	width: 100%;
	top: 3250px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background: #3F322F;
	border-radius: 0;
}

.line {
	flex: none;
	align-self: stretch;
	flex-grow: 0;
	margin: 20px 0;
	height: : 4px;
	color: #F9FBF7;
}

.main_footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 41px;

	flex: none;
	flex-grow: 0;
	margin: 20px 0;
}

.logo_follow {

}

.info {
	position: relative;
}
