@font-face {
	font-family: 'Euclid Circular B';
	src: url(fonts/euclid-circular-b-cufonfonts/Euclid-Circular-B-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Circular B';
	src: url(fonts/euclid-circular-b-cufonfonts/Euclid-Circular-B-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Circular B';
	src: url(fonts/euclid-circular-b-cufonfonts/Euclid-Circular-B-SemiBold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Antipasto Pro';
	src: url(fonts/antipasto-pro-cufonfonts-webfont/AntipastoPro-Hairline_trial.woff) format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Simple tfb';
	src: url(fonts/simple-tfb.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
a:hover {
    color: #000;
}
/* Custom */
.box {
	background: #fff;
	border-radius: 20px;
}
.box-gray {
	background: #F4F4F1;
	border-radius: 20px;
}
.margin-10 {
	margin: 10px;
}
.margin-b-20 {
	margin-bottom: 20px!important;
}
.margin-b-10 {
	margin-bottom: 10px!important;
}
.margin-r-20 {
	margin-right: 20px!important;
}
.margin-r-10 {
	margin-right: 10px!important;
}
.margin-l-20 {
	margin-left: 20px!important;
}
.padding-0-20 {
	padding: 0 20px!important;
}
.padding-10 {
	padding: 10px!important;
}
.padding-10-0 {
	padding: 10px 0!important;
}
/* Bootstrap */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.row > * {
    padding-right: 0;
    padding-left: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.overflow-scroll::-webkit-scrollbar {
    display: none;
}
.overflow-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* body */
body {
	background: #f9fbf7;
	font-family: 'Euclid Circular B';
}
#intro-bg {
	position: absolute;
	width: 100%;
	height: 1080px;
	background: url(images/background_landing_page.png) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: -10;
}
/* Nav */
header {
	margin-top: 20px;
	position: fixed;
	z-index: 10;
	width: 100%;
}
.navbar {
	padding: 10px 35px;
	background: #FFFFFF;
	border-radius: 25px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-top: 0;
	padding-bottom: 0;
	height: 30px;

	display: flex;
	align-items: center;
	color: #000;
	text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #C98952;
}
.dropdown-menu {
    min-width: 0;
}
.dropdown-item.active, .dropdown-item:active {
	background-color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #C98952;
	background-color: #fff;
}
.navbar-brand {
	padding: 0;
	height: 30px;
	font-family: Simple tfb;
	color: #000;
	font-size: 34px;
	line-height: 30px;
}
.navbar_nav	{
	padding: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
}
.navbar-toggler {
	padding: 0;
	border: none
}
/* Main */
main {
	padding-top: 640px;
}
@media (max-width: 991.98px) {
	main	{
		padding-top: 510px;
	}
}
@media (max-width: 767.98px) {
	main	{
		padding-top: 470px;
	}
}
/* intro */
#intro {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px;
	align-self: stretch;
	flex-grow: 0;
	color: #FFFFFF;
}
#intro-title {
	height: 125px;
	width: 430px;
	margin-right: 5px;
	font-family: Simple tfb;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	line-height: 172px;
	letter-spacing: 0.1em;
}
#intro-slogan {
	margin-top: 40px;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 120%;
	/* or 43px */

	display: flex;
	align-items: flex-start;
	letter-spacing: 0.3em;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
	flex-shrink: 1;
}
@media (max-width: 991.98px) {
  #intro {
    flex-direction: column;
  }
}
@media (max-width: 1199.98px) {
  #intro-slogan {
		letter-spacing: 0.09em;
  }
}
@media (max-width: 991.98px) {
  #intro-slogan {
		letter-spacing: 0.3em;
  }
}
#OC{
	margin-left: 10px;
	color: #72F38E;
}
#open_hours {
	font-size: 24px;
	line-height: 30px;
}
@media (max-width: 767.98px) {
	#open_hours {
		display: none;
	}
}
/*menu panel */
@media (max-width: 991.98px) {
	#cat {
		justify-content: start!important;
	}
  }
[data-menu-target] {
	height: 100px;

	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	color: #3F322F;

	padding: 0 25px;

	background: #F9FBF7;
	border: 0;
	box-sizing: border-box;
	border-radius: 50px;
}
[data-menu-target] .button_img {
	width: 50px;
	height: 50px;
}
[data-menu-target] .button_text {
	display: none;
}
.active[data-menu-target] .button_img {
	display: none;
}
.active[data-menu-target] .button_text {
	display: block;
}
/* items */
[data-menu-content] {
	height: 526px;
	display: none;
	flex-direction: row;
	align-items: flex-start;
	order: 1;
	flex-grow: 0;
	align-self: stretch;
	list-style: none;
}
.active[data-menu-content] {
	display: flex;
}
.item {
	text-decoration: none;
	color: inherit;
	padding: 16px 24px;
	width: 360px;
	height: 500px;
	background: #FFFFFF;
	border-radius: 20px;
	margin-right: 60px;
	transition: border .2s ease-in ease-out;
}
.item:hover{
	border: 3px solid #D5D6DA;
}
.item_details {
	flex: none;
	flex-grow: 0;
	margin-bottom: 16px;
}
.name_of_item {
	width: 312px;
	height: 30px;

	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30.43px;

	margin-bottom: 8px;
}
.description_of_item {
	width: 312px;
	height: 100px;
}
.item_price {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	width: 156px;
	height: 306px;

	flex: none;
	order: 0;
	flex-grow: 0;
	align-self: stretch;
}
.price_details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 151px;
}
.text {
	width: 100%;
	height: 23px;

	display: flex;
	align-items: center;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;

	margin-bottom: 9px;
}
.price {
	height: 36px;
	margin-left: 10px;

	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 61px;
	display: flex;
	align-items: center;

	flex: none;
	order: 1;
	flex-grow: 1;
	align-self: stretch;
}
#tenge_image {
	flex: none;
	order: 0;
	margin-right: 10px;
}
#plus {
	flex: none;
	order: 0;
	margin-right: 10px;
}
.item_image {
	width: 233.33px;
	height: 350px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
#wolt {
	padding: 5px 13px;
	box-sizing: border-box;
	background: #4CB2E1;
	border-radius: 10px;
	margin-left: 10px;
}
#menu_back{
	height: 706px;
	top: 50px;
	z-index: -1;
	background-color: #E8DFD4;
}
.modal-content {
	border-radius: 20px;
	border: 0;
}
.product-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}
.product-name {
	font-size: 48px;
	line-height: 61px;

	flex: none;
	order: 0;
	flex-grow: 0;
}
.product-description{
	flex: none;
	order: 1;
	flex-grow: 0;
}
.product-order {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;


	flex: none;
	order: 2;
	flex-grow: 0;
}
.product-image {
}
/*bonuses_panel*/
/*#bonus_panel {
	background-color: #F4F4F1;
	padding: 20px 0;
}*/
#bonus_title {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;
	color: #C98952;
	margin-bottom: 10px;
}
#bonus_description{
	color: #3F322F;
}
#bonus_card {
	width: 416px;
	height: 294px;

}
/*abouts us panel*/
#about_us_panel{
	background: url(images/handboba1.png) right no-repeat, #F4F4F1;
	background-size: contain;
	z-index: -1;
}
.slick {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.slick_item {
	position: relative;
	transform: scale(0.7, 0.7);
	display: flex !important;
	opacity: 0.7;
	transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slick_item h1 {
	position: absolute;
	color: #fff;
	top: 80%;
	left: 5%;
	font-size: 24px;
	text-shadow: 0 0 20px #3F322F;
}
.slick_item img {
	width: 100%;
	border-radius: 20px;
}
.slick-center {
	transform: scale(1.0, 1.0);
	opacity: 1;
	transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#about_us {
	width: 385px;
	height: 82px;
	z-index: 1;
}
#slogan {
	padding: 20px;
	font-family: Antipasto Pro;
	font-size: 100px;
	letter-spacing: 0.1em;
	align-items: center;
	text-align: center;
	
	
	color: #C98952;
	text-shadow:
	0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #E4C4A9,
    0 0 82px #E4C4A9,
    0 0 92px #E4C4A9,
    0 0 102px #E4C4A9,
    0 0 151px #E4C4A9;
}
.glass {
	background: rgba( 215, 204, 184, 0.3 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 2px );
	-webkit-backdrop-filter: blur( 2px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#about_us_text {
	color: #3F322F;
	padding: 20px;
}
@media (max-width: 991.98px) {
	#about_us_panel > div > div > div.col-lg-4 {
		order: 1;
	}
	.slick, .slick > div, .slick > div > div {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.slick_item h1 {
		font-size: 36px;
	}
	#slogan {
		margin-bottom: 30px;
	}
}
@media (max-width: 767.98px) {
	#slogan {
		margin-bottom: 30px;
		font-size: 100px;
	}
}
/* contacts panel */
#contacts_panel {
	background-color: #fff;
}
#contacts_box {
	position: absolute;
	width: 300px;
	height: 200px;
	top: calc(50% - 100px);
	left: calc(25% - 150px);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	margin: 0;

	z-index: 1;
}
@media (max-width: 991.98px) {
	#contacts_box {
		top: 0;
		left: 0;
		position: relative;
		margin-bottom: 20px;
		width: 100%;

	}
}
#map {
	border-radius: 20px;
}
.icon_link{
	height: 30px;
	width: 30px;
}

/* footer panel*/
footer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	color: #fff;
	background: #3F322F;
}
@media (max-width: 1199.98px) {
	footer > div > div > div.col-xl-4 {
		flex-direction: row!important;
	}
}
.brand {
	font-family: Simple tfb;
	text-decoration: none;
}
.brand:hover {
    	color: #C98952!important;
}

.footer_link {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	list-style: none;
}
.footer_icon_link{
	height: 30px;
	width: 30px;
}
.options_title {
	flex: none;
	order: 0;
	flex-grow: 1;
	margin-bottom: 10px;
}
.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 10px;

	flex: none;
	order: 1;
	flex-grow: 1;
}
.option{
	display: flex;
	align-items: center;
	text-align: left;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin-bottom: 10px;
}
#line1 {
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	flex: none;
	align-self: stretch;
	flex-grow: 0;
	margin: 8px 0px;
}